@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(//fonts.googleapis.com/css?family=Roboto:400,300);
@import url(//fonts.googleapis.com/css?family=Karma:400,300);
@import url(//fonts.googleapis.com/css?family=PT+Serif:400);
@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:400,300);

/* Use the more sane border-box model. */
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

::selection {
    background: #ffbb88;
    color: black;
}

::-moz-selection {
    background: #ffbb88;
    color: black;
}

/*
 * Text
 */

h1, h2, h3 {
    font-family: Roboto Condensed, Open Sans, sans-serif;
    line-height: 1.0;
    color: #444;
    padding-top: 0.53em;
    margin-top: 0;
    font-weight: 300;
}

h1 {
    font-size: 3.00em;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.5em;
}

body {
    /* Default body text */
    font-family: Roboto, Open Sans, serif;
    font-size: 18px;
    line-height: 1.6;
    color: #444;
    font-weight: 300;
}

header {
    font-family: Open Sans, sans-serif;
    line-height: 1.0;
    font-weight: 400;
}

header .home {
    font-weight: 300;
}

.post-header h1 {
    margin-bottom: 0.0em;
}

pre {
    line-height: 22px;
    color: #444;
    font-weight: normal;
    font-size: 15px;
}

.post-date {
    color: #bbb;
    font-weight: 400;
}

/*
 * Links
 */

a {
    color: #268bd2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.plain-link, .plain-link:hover {
    color: inherit;
    text-decoration: none;
}

dfn {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    font-style: normal;
}

/*
 * Layout
 */

body {
    margin: 3px 0 0 0;
    padding: 0;
}

/* Standard padding for text containers. */
header, article {
    padding: 20px 20px;
}

@media (max-width: 500px) {
    header, article {
        padding-left: 4%;
        padding-right: 4%;
    }
}

header {
    padding-top: 12px;
    padding-bottom: 12px;
}

header, article {
    max-width: 780px;
    margin: 0 auto;
}

article img {
    margin: 40px auto;
    display: block;
    width: auto;
    max-width: 100%;
}

article img.inline {
    display: inline;
}

img.shadow {
    -webkit-box-shadow: #999999 1px 1px 6px;
       -moz-box-shadow: #999999 1px 1px 6px;
            box-shadow: #999999 1px 1px 6px;
}

article {
    overflow: hidden;
    /* empty pages makes footer too large */
    min-height: 500px;
}

article pre {
    /* Avoid overflowing on narrow displays. */
    overflow: auto;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    color: black;
    background: #f8f8f8;
    padding: 15px 0 15px 15px;
    margin-left: -15px;
    margin-right: -15px;
    font-family: Inconsolata, Consolas, monospace;
}

article code.kb {
    color: white;
    padding: 0 0.3em;
    background: hsl(350, 36%, 75%);
    -webkit-border-radius: 0.4em;
       -moz-border-radius: 0.4em;
            border-radius: 0.4em;
}

blockquote {
    font-style: italic;
    padding-left: 1em;
    border-left: 2px solid #888;
    color: #888;
}

hr {
    margin-top: 3em;
    border: 0px;
    height: 1px;
    background-color: #ddd;
    color: #f00;
    width: 100%;
}

/* sup, sub that respect line height */
sup, sub {
    position: relative;
    vertical-align: baseline;
}
sup { bottom: 1ex; }
sub { top: .5ex; }

