$max-width: 800px;
$nav-width: 260px;

$normal-padding: 20px;

@mixin box-sizing($model) {
    -webkit-box-sizing: $model;
    -moz-box-sizing: $model;
    box-sizing: $model;
}

/* Use the more sane border-box model. */
* {
  @include box-sizing(border-box);
}

body {
    margin: 3px 0 0 0;
    padding: 0;
    background: #303038;
}

#content {
    background: #eee;
}

header {
    font-size: 80px;
    padding: $normal-padding;
    text-align: center;
    max-width: $max-width + $nav-width;
    margin: 0 auto;
}

.main {
    margin: 0 auto;
}

article {
    padding: $normal-padding;
}

nav {
    padding: $normal-padding;
}

footer {
    padding: $normal-padding;
    font-size: 14px;
    text-align: center;
    color: white;
    max-width: $max-width + $nav-width;
    margin: 0 auto;
}

/* Scale up nicely. First add margins. */
@media (min-width: $max-width) {
    .main {
        width: $max-width;
    }
}

/* Next move the nav bar to the side. */
@media (min-width: $max-width + $nav-width) {
    .main {
        width: $max-width + $nav-width;
    }
    nav {
        display: table-cell;
        width: $nav-width;
    }
    article {
        display: table-cell;
        width: $max-width;
        max-width: $max-width;
        overflow: hidden;
    }
}
