$max-width: 700px;
$nav-width: 260px;

$normal-padding: 20px;

@mixin box-sizing($model) {
    -webkit-box-sizing: $model;
    -moz-box-sizing: $model;
    box-sizing: $model;
}

@import url(http://fonts.googleapis.com/css?family=Average);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

/* Use the more sane border-box model. */
* {
  @include box-sizing(border-box);
}

/* Default header style */
h1, h2, h3 {
    font-family: Source Sans Pro, sans-serif;
    margin-top: 1.5em;
}

h1 {
    font-size: 2em;
    line-height: 1.0;
}

h2 {
    font-size: 1.5em;
    line-height: 1.0;
}

a {
    color: hsl(206, 79%, 46%);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 3px 0 0 0;
    padding: 0;
    background: hsl(220, 20%, 27%);

    /* Default body text */
    font-family: Arial, serif;
    line-height: 1.6;
    font-size: 14px;
    color: #444;
}

p {
    margin: 1.5em 0;
}

#content {
    background: #eee;
}

#content:after, #content:before {
    content: "";
    display: block;
    height: 3px;
    background: hsl(206, 99%, 20%);
}

header {
    padding: 120px $normal-padding $normal-padding $normal-padding;
    max-width: $max-width;
    margin: 0 auto;
    position: relative;
    font-size: 92px;
    line-height: 100%;
    color: #ccc;
}

#title {
}

#doodle {
    position: absolute;
    left: -150px;
    bottom: 0;
}

article .post-title {
    font-size: 2.5em;
    margin-bottom: 0;
}

article .post-date {
    margin-top: 0.7em;
    font-size: 12px;
    color: #999;
}

/* Avoid overflowing on narrow displays. */
article pre {
    overflow: auto;
    background: #ddd;
    padding: 15px;

    /* Code needs to be a little denser than body text to look good */
    line-height: 1.3em;
}

.main {
    margin: 0 auto;
}

article {
    padding: $normal-padding;
    overflow: hidden;
}

nav {
    padding: $normal-padding;
}

footer {
    padding: $normal-padding;
    color: #eee;
    max-width: $max-width;
    margin: 0 auto;
}

footer p {
    color: #bbb;
}

/* Scale up nicely. Move the nav bar to the side. */
@media (min-width: $max-width) {

    .main {
        max-width: $max-width + $nav-width;

        /* hack: cut out the nav bar to prevent scrollbars
           just above cut-off width */
        overflow: hidden;
    }

    nav {
        display: table-cell;
        width: $nav-width;
        border-left: 1px solid #ccc;
    }

    article {
        display: table-cell;
        width: $max-width;
        min-width: $max-width;
    }

    header {
        max-width: $max-width + $nav-width;
    }

    footer {
        max-width: $max-width + $nav-width;
    }
}
