<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <title>{{ blog.title }} - {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width,user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0" />
        <link rel="stylesheet" href="/style/style.css" />
        <link href="/style/pygments.css" type="text/css" rel="stylesheet" />
        <link href="{{ "/" ~ blog.feed }}" type="application/atom+xml" rel="alternate" title="ATOM Feed">
        {% endblock %}
    </head>
    <body>
        <header>
            <span>
                <a class="plain-link" href="{{ blog.root }}/">
                    {{ blog.title }}
                </a> |
                <a class="plain-link home" href="http://www.niklewski.com">niklewski.com</a>
            </span>
        </header>
        <div id="content">
            <article>
            {% block content %}{% endblock %}
            </article>
        </div>
        {% block script %}
        {% endblock %}
    </body>
</html>
