<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %} - Some Blog</title>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="stylesheet" href="/style/style.css" />
        {% endblock %}
    </head>
    <body>
        <div id="content">
            <header>Some blog</header>
            <div class="main">
                <article>
                {% block content %}{% endblock %}
                </article>
                <nav>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                </nav>
            </div>
        </div>
        <footer>
            {% block footer %}
            &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
            {% endblock %}
        </footer>
    </body>
</html>
