<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %} - Some Blog</title>
        <!--
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        -->
        <link rel="stylesheet" href="/style/style.css" />
        {% endblock %}
    </head>
    <body>
        <header>
            <span>匹狼</span>
            <img id="doodle" src="/image/doodle2.png" />
        </header>
        <div id="content">
            <div class="main">
                <article>
                {% block content %}{% endblock %}
                </article>
                <nav>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                    <p>content</p>
                </nav>
            </div>
        </div>
        <footer>
            {% block footer %}
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            {% endblock %}
        </footer>
    </body>
</html>
