{# Post with title and content #}
<div class="post-header">
    <h1>
        <a class="plain-link" href="{{ link }}">{{ title }}</a>
    </h1>
    <div class="post-date">
        Posted on <time datetime="{{ created.datetime }}">
            {{ created.display }}
        </time>
        {% for tag in tags %}
            {% if loop.first %}in {% endif %}
            <a href="{{ tag.href }}">{{ tag.text }}</a>
            {%- if not loop.last %},{% endif %}
        {% else %}
            with no tags
        {% endfor %}
    </div>
</div>
{{ content }}
